{% extends "base.html" %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  <form method="get">
      <input type="text" name="q" placeholder="Search by model" value="{{ request.GET.q }}">
      <button type="submit" class="btn btn-secondary">Search</button>
  </form>

  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} ">{{ car.id }}</a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
